<!doctype hmtl>
<html>
<head>
    <title>关于作者</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/author.css">
</head>
<body>
    <div class="container">
       <h1>个人简历</h1>
       <h2>基本信息</h2>
       <p>
        姓名：刘晶
        性别：男       籍贯：湖北、天门    民族：汉     出生年月：1991年5月
        毕业院校：山东工商学院       专业：网络工程     电话号码：18766533157
        邮箱：liujingguozhi@gmail.com                         求职意向：web前端工程师
       </p>
       <img src="../static/iam.JPG">
       <h2>专业技能</h2>
        <ol>
            <li>计算机编程语言：
                <ul>
                    <li>熟悉C语言、C++、JAVA、python等编程语言。</li>
                    <li>擅长HTML/XHTML、css、javascript等前端开发技术。</li>
                    <li>在校期间，运用JAVA开发过模拟当当网网上购书系统。</li>
                </ul>
            </li>
            <li>数据库知识：
                <ul>
                    <li>熟练掌握数据库基本原理。</li>
                    <li>熟悉ORACLE、SQLSERVER、MYSQL基本操作。</li>
                </ul>
            </li>
            <li>综合实力
                <ul>
                    <li>熟悉Linux命令行操作。</li>
                    <li>熟悉数据结构、算法。</li>
                    <li>熟悉计算机组成原理和操作系统。</li>
                    <li>英语方面，有较强读写能力和一定的听说能力。</li>
                </ul>
            </li>
        </ol>
       <h2>校内实践</h2>
        <ol> 
            <li>2010年10月—2012年6月，在图书馆当自愿者，协助图书馆老师整理书架，参与策划和组织的演讲比赛，读书月等活动。</li>
            <li>2011年3月—2013年9月，山东工商学院网络工程102班生活委员。</li>
            <li>2011年6月—2011年9月，学院暑期实训项目参与者和开发人员。</li>
            <li>2013年10月—2013年11月，综合布线模拟招标课程中担当技术部部长。</li>
        </ol>
       <h2>获奖情况</h2>
        <ol>
            <li>2012—2013学年，获得国家励志奖学金。</li>
            <li>2011年12月，获得校园ACM程序设计大赛三等奖。</li>
            <li>2011年 9 月—2012年6月，获得“优秀班干部”称号。</li>
            <li>2010年10月—2011年6月，被图书馆评委优秀自愿者。</li>
        </ol>
       <h2>自我评价</h2>
        <ul>
            <li>做事稳重细致，考虑事情很全面，喜欢关注细节，追求完美；</li>
            <li>思维活跃并且有较强的动手能力，遇事爱思考和动手实践；</li>
            <li>有较强的自学能力和专研精神，喜欢接触新技术，新方法；</li>
            <li>热爱互联网行业，对互联网有很好的认识，相信互联网能改变世界；</li>
            <li>热爱生活，对生活有积极的态度，喜欢旅行和天文；</li>
            <li>平时会思考些改善生活的小创意，具有较强的创新能力。</li>
        </ul>
       <h2>相关证书</h2>
       <ol>
        <li>英语四级</li>
        <li>普通话二级</li>
       </ol>
    </div>
</body>
</html>
